:root {
  --colorOne: #6cb476;
  --colorTwo: #d0fcd6;
  --colorThree: #004d0a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  background-color: var(--colorOne);
  position: fixed;
  padding-left: 0 !important;
  padding-right: 0 !important;
  bottom: 0;  
}

nav {
  background-color: var(--colorOne);
}

.threadBG {
  height: 100vh;
  background-color: var(--colorTwo);
}

.card {
  border: 2px solid var(--colorThree);
}

.cardColOne {
  border-right: 2px solid var(--colorThree);
}

.cardColTwo {
  border: 2px solid var(--colorThree);
}

.topBorder {
  border-top: 2px solid var(--colorThree)
}
